@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    cursor: default;
 }

 header{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('Ellipse 2.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
 }
 
 header nav{
   width: 40%;
 }
 
 header div{
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 header img{
   width: 18vw;
   cursor: pointer;
 }
 header ul{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 header li{
   margin-right: 3vw;
   font-size: 1.8vw;
   font-weight: lighter;
   cursor: pointer;
 }

 .introdução{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .introdução_texto{
   width: 50%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.introdução_imagem{
   width: 50%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.main--section_intro img{
   width: 40vw;
}

.main--section_intro h1{
   width: 50%;
   font-size: 3.7vw;
   font-weight: bolder;
}

.plin{
   height: 60vh;
   font-size: 2.5vw;
   font-weight: bolder;
   display: flex;
   align-items: center;
   justify-content: center;
}

.span{
   color: #6C63FF;
  }

  .formulário{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.formulário_box{
   width: 90%;
   height: 60vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.formulário_questões{
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.texto_motivacional{
   width: 40%;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.formulário_questões input{
   width: 36vw;
   height: 12vh;
   border: 3px solid #6C63FF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
}

.formulário_questões input::placeholder{
   font-size: 1.5vw;
   font-weight: 700;
   color: black;
   padding-left: 2vw;
}

.enviar{
   height: 60vh;
   margin-top: 20vh;
}

.enviar button{
   width: 36vw;
   height: 12vh;
   border-radius: 15px;
   background-color: black;
   color: #6C63FF;
   font-size: 2.5vw;
   font-weight: 700;
}
.texto_motivacional_box{
   border: solid black;
   text-align: center;
   justify-content: center;
   border-radius: 5px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.texto_motivacional_box p{
   font-size: 1.5vw;
   font-weight: 700;
   padding: 3vh 1.5vw;
}
footer{
width: 100%;
height: 65vh;
padding: 1vh 1vw;
background-color: #6C63FF;
display: flex;
align-items: center;
justify-content: space-between;
}
footer ul{
   margin-left: 5vw;
}
footer li{
   margin-bottom: 1.5vh;
   font-size: 2vw;
   font-weight: 900;
   cursor: pointer;
}
footer div{
   width: 40%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}
footer img {
   width: 23vw;

}
